Capstone Website Alpha 1.0/resources/db_setup.php
Capstone Website Alpha 1.0/public_html/sample.php
TEST/TEST.iml
Capstone Website Alpha 1.0/resources/test_database_for_magic_form.sql
Capstone Website Alpha 1.0/resources/test_insert_from_db_side.sql
.idea/
Capstone Website Alpha 1.0/public_html/capstone.sublime-workspace
Capstone Website Alpha 1.0/failed implementations/
Capstone Website Alpha 1.0/public_html/js/Borland_Project_Charter_LifePointgames_final_draft.docx
Capstone Website Alpha 1.0/resources/capstone_user_db.sql
Capstone-Website-Alpha/resources/db_setup.php
