body
{
	background-color: brown; 
	color:white;

}
.below_menu_container
{
	padding-top: 50px;
}
.index_table table,th,td
{
	border: 1px solid white; 

}

.color_1 
{
	background-color: black; 


}
.color_1 a
{
	color: white;
}
.color_1 a:hover
{
	color: orange;
	text-decoration: none;
}
.color_2 
{
	background-color: orange; 
	color: brown; 



}
.nav
{ 

    font-weight: bold; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: black;
    position: absolute;
    top:0px;
    left: 200px;
    min-width: 25%;
    min-height: 35px;
    max-width: 75%;
    max-height: 40px;

}
.magic_navigation ul 
{
	padding: 5px 5px; 

}
.magic_navigation li
{
	display: inline;
	padding: 7px; 

}
.magic_navigation a
{
	text-decoration: none;
	color: white; 

	padding: 5px 5px 5px 5px ;

}
.magic_navigation a:hover
{
	color: orange;
	
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
{
	background-color: brown;
}
.nav a:hover, a:focus
{
	background-color: brown; 
}

.dropdown-menu .divider
{

background-color: transparent;	 



}

 .dropdown-menu>li>a:hover, a:focus

{
	color: orange; 
}
ul.dropdown-menu 
{
	z-index: 1; 
}


  ul.dropdown-menu
 {
 	background-color: brown;
 }



  .dropdown-menu li>a
{
 color: white;
}
/*
looking up a solution to fix the bug it is not hovering and changing color. 
.dropdown-header
{
	color: white; 
	text-decoration: underline; 
}
*/
.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled
{
	background-color: brown;
	border:transparent;
}
.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover
{
	background-color: brown;
	border:transparent;

}

.button{
	position: fixed;
	top: 0px;
	left: 100px; 
}

#footer_position
{
	position: relative;
	bottom: 0px; 
	left: 0px;
	width: 75%; 
	height: 100px;
    padding:25px;

}
.footer_style h6
{
	text-decoration: underline;
}


